body{
  background-color: #4e59ad;
}

.signupContainer{
  max-width: 440px;

}

.signupButton{
  background-color: #32c5d2;
  border-color: #32c5d2;

}

.signupButton:hover{
  background-color: #32c5d2;
}